body {
    font-family: 'rubik', sans-serif;
  }
  
  .Navname{
      color: black;
      font-weight: bold;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .deletIcon{
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  .search-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    margin-top: 10px;
   cursor: pointer;
  
  
   opacity: 0.8;
  
  }
  .mr-2{
  
    width: 100px;
    height: 34px;
    position: absolute;
    right: 370px;
    margin-top: 22px;
   cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.294);
   border-radius: 5px;
   padding: 2px;
   opacity: 0.8;
  
  }
  .mr-2:hover{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
  
  }
  .deletIcon:hover{
  color: red;
  transform: scale(1.10);
  text-shadow: 1px 2px 4px rgb(255, 0, 0);
  }
  .Refresh{
    width: 34px;
    height: 34px;
    position: absolute;
    right: 100px;
    margin-top: 22px;
   cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.294);
   border-radius: 5px;
   padding: 2px;
   opacity: 0.8;
  
  }
  .Refresh:hover{
    box-shadow: 1px 2px 8px rgb(0, 0, 0);;
  }
  .refresh-icon.rotate {
    height: 34px;
    position: absolute;
    right: 100px;
    margin-top: 22px;
   cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.294);
   border-radius: 5px;
   padding: 2px;
  
    animation: rotate .1s linear;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .searcH{
    width: 200px;
    height: 10px;
    position: absolute;
    right: 150px;
    margin-top: 20px;
  }
  .viewDetailes{
    color: rgba(0, 0, 255, 0.672) !important;
    font-size: 13px;
  }
  .thank-you-card{
    border: none;
  }
  
  
  .cardBody{
  background-color: white;
  }
  
  .PhoneInputInput, .PhoneInputCountry{
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4f545a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      appearance: none;
      border-radius: 0.375rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  
    .required-field{
      font-weight:bold ;
  
    }
  
  
    
    .PhoneInput{
      width: 100%;
    }
    
    input:focus {
      outline: none !important;
      border:1px solid rgb(212, 210, 241) !important;
      box-shadow: 0 0 10px #826083 !important;
    }
    .PhoneInputCountry{
      width: auto;
    }
  
    
  .SubmissionContainer {
      width: 100%;
      margin: auto;}
    
    .padding30px{
      padding: 40px !important;
     
      
    }
    
   .thanks{
    font-weight: 600;
    font-size: 20px;
    color: #1d0076;
   }
    
    .form-check-input:checked {
      background-color: #993c9a !important;
      border-color: #938b93 !important;
    }
    
    .btn_purp {
      --bs-btn-border-color: #00bd19 !important;
      --bs-btn-bg: #00bd19 !important;
      width: 150px;
      margin-top: 10px;
      position: absolute;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    right: 120px;
    font-weight: 600;
     
      
    }
    .btn_purp:hover{
      transform: scale(1.05);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8), inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
    
  
    .btn_Sub{
      --bs-btn-border-color: #8e58eb ;
      width: 150px;
      --bs-btn-bg: #8e58eb;
  
    }
  
    
    .alert-danger{
      --bs-alert-padding-x: 0rem !important;
      --bs-alert-padding-y: 0rem !important;
      font-size: small !important;
      display: none;
    }
      
    .circle {
      position: relative;
      background: #8cc63e;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-left: 48%;
    }
    
    .checkmark {
      position: absolute;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 35%;
      top: 45%;
      height: 20px;
      width: 10px;
      border-bottom: 3px solid white;
      border-right: 3px solid white;
    }
    
    label{
      float: left;
    }
    
    .col{
      margin-left: 30px !important;
    }
    a{
      color: #913dac !important;
    }
  .formC::placeholder{
    opacity: 0.5;
    
  }